<!--start contact-->
<section class="section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>Contact Us</h3>
                    <p class="text-muted mt-2">Get in Touch with Us Today! We’re here to help with all your printing and publishing needs. Contact us for expert advice and quality service.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-details mb-4 mb-lg-0">
                    <p class="mb-3"><i class="mdi mdi-email-outline align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">sales&#64;sthiratha.in</span></p>
                    <p class="mb-3" alt="Gmail address"><i class="mdi mdi mdi-google-plus align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">sthirathapress&#64;gmail.com</span></p>
                    <p class="mb-3"><i class="mdi mdi-web align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">www.sthiratha.in</span></p>
                    <p class="mb-3"><a href="https://wa.me/919847166333" target="_blank" style="text-decoration: none; cursor: pointer; color: blue; "><i class="mdi mdi-whatsapp align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">+91 9847166333</span></a></p>
                    <p class="mb-3"><i class="mdi mdi-phone align-middle text-muted fs-20 me-2"></i> <span
                            class="fw-medium">+91 9847166333</span></p>
                    <p class="mb-3"><i class="mdi mdi-hospital-building text-muted fs-20 me-2"></i> <span
                            class="fw-medium">9:30 AM - 7:30 PM</span></p>
                    <p class="mb-3"><i class="mdi mdi-map-marker-outline text-muted fs-20 me-2"></i> <span
                            class="fw-medium">S.K. Arcade Kannur Road West Nadakkave, Vandipetta, West Hill Kozhikode, Kerala 673011 India </span> </p> 
                </div>
                <!--end contact-details-->
            </div>
            <!--end col-->
            <div class="col-lg-7">
                <form (ngSubmit)="sendMsg()" [formGroup]="contactForm" method="post" class="contact-form" name="myForm" id="myForm">
                    <span id="error-msg"></span>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                <input name="name" id="name" type="text" class="form-control" formControlName="name"
                                    placeholder="Enter your name*">
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                                <input name="email" id="email" type="email" class="form-control" formControlName="email"
                                    placeholder="Enter your email*">
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-12">
                            <div class="position-relative mb-3">
                                <span class="input-group-text"><i class="mdi mdi-file-document-outline"></i></span>
                                <input name="subject" id="subject" type="text" class="form-control" formControlName="subject" placeholder="Subject">
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-12">
                            <div class="position-relative mb-3">
                            <span  class="input-group-text align-items-start"><i class="mdi mdi-comment-text-outline"></i></span>
                                <textarea name="comments" id="comments" rows="4" class="form-control" formControlName="comments" placeholder="Enter your message*"></textarea>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <input type="submit" id="submit" name="send" class="btn btn-primary"
                                value="Send Message">
                        </div><!-- end col -->
                    </div><!-- end row -->
                </form>
                <!--end form-->

                <p *ngIf="messageSend">Your message has been sent</p>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end contact-->
